# Ignore
*.exe
*.exe.recipe
*.dll
*.so
*.dylib
*.lib
*.o
*.db
*.pdb
*.ipdb
*.obj
*.iobj
*.tlog
*.log
*.user
*.suo
*.vcxproj.user
*.vcxproj.filters
*.ilk
*.json
*.ipch
*.backup
*.backup.json
*.exp

# Ignore directories
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Pp]roperties/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
temp/
samples/
.vs/